@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/assets/fonts/HelveticaNeueCyr-Black.woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/assets/fonts/HelveticaNeueCyr-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/assets/fonts/HelveticaNeueCyr-Heavy.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/assets/fonts/HelveticaNeueCyr-medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'HelveticaNeue', 'Inter';
}

.no_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no_scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
